name: old_man_browser
description: "OldManBrowser - a browser build for old man can capture m3u8 and download it"
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  media_kit: ^1.1.10+1
  media_kit_video: ^1.2.4
  media_kit_libs_video: ^1.0.4
  better_player: ^0.0.84
  dio: ^5.4.0          # For downloading
  path_provider: ^2.1.2 # For app storage
  flutter_hls_parser: ^2.0.1  # To parse m3u8 playlists
  permission_handler: ^11.3.1 # For storage permissions on Android
  device_info_plus: ^10.1.0
  gal: ^2.3.2
  webview_flutter: ^4.13.1
  webview_windows: ^0.4.0
  provider: ^6.1.5+1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  windows:
    generate: true
    image_path: "assets/icon/icon.ico"

flutter:

  uses-material-design: true

  assets:
    - assets/icon/icon.png
    - assets/icon/icon.ico

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
